.Button {
  transition: background-color 0.2s;
  display: inline-block;
  padding: 0.6em 1.5em;
  background: $gray1;
  color: inherit;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.8125em;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
  &:focus {
    outline: thin dotted $black0;
    text-decoration: none;
  }
  &:hover, &:active, &:focus {
    border: 0;
    background: $gray2;
    text-decoration: none;
  }
}

.Button--action {
  background-color: $green0;
  color: $white0;
  &:hover, &:active, &:focus {
    background-color: $green1;
  }
}

.Button--danger {
  background-color: $red0;
  color: $white0;
  &:hover, &:active, &:focus {
    background-color: $red1;
  }
}

.Button--on {
  background-color: $gray2;
  &:hover, &:active, &:focus {
    background-color: $gray1;
  }
}
