$white0: hsl(0, 0%, 100%);

$black0: hsl(0, 0%, 25%);
$black1: hsl(0, 0%, 60%);

$gray0: hsla(31, 15%, 50%, 0.1);
$gray1: hsla(31, 15%, 50%, 0.15);
$gray2: hsla(31, 15%, 50%, 0.25);

$green0: hsla(150, 45%, 50%, 0.5);
$green1: hsl(150, 45%, 50%);

$red0: hsla(0.5, 45%, 50%, 0.5);
$red1: hsl(0.5, 45%, 50%);
