body {
  background: #1a1a1a;
  color: #e6e6e6;
}

h1 {
  font-family: "PT Sans";
}

input[type=range] {
  width: 100%;
}

label {
  color: #999;
}

.button {
  background-color: #404040;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #666666;
}

button:focus {
  outline: 0;
}

.channel--muted {
  background: #fff;
  color: rgba(147, 128, 108, .6);
}

.step--note-on {
  background: #fff;
}

.delete {
  background: #c60f13;
}

.channelList {
  margin: 1em auto;
}

.channelPane {
  background: #222;
  padding: 1em;
  margin: 1em 0;
  border-radius: 6px;
}

.transportSliderBox {
  margin: 0 1em;
}

.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }

@media only screen {
  .small-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .small-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .small-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .small-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .small-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .small-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .small-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .small-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .small-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .small-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .small-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .small-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .small-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .small-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .small-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .small-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .small-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .small-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .small-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .small-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .small-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }

  .small-block-grid-13 > li {
    width: 7.69231%;
    list-style: none; }
    .small-block-grid-13 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-13 > li:nth-of-type(13n+1) {
      clear: both; }

  .small-block-grid-14 > li {
    width: 7.14286%;
    list-style: none; }
    .small-block-grid-14 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-14 > li:nth-of-type(14n+1) {
      clear: both; }

  .small-block-grid-15 > li {
    width: 6.66667%;
    list-style: none; }
    .small-block-grid-15 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-15 > li:nth-of-type(15n+1) {
      clear: both; }

  .small-block-grid-16 > li {
    width: 6.25%;
    list-style: none; }
    .small-block-grid-16 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-16 > li:nth-of-type(16n+1) {
      clear: both; }
}
@media only screen and (min-width: 40.063em) {
  .medium-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .medium-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .medium-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .medium-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .medium-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .medium-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .medium-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .medium-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .medium-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .medium-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .medium-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .medium-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .medium-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .medium-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .medium-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .medium-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .medium-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .medium-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .medium-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .medium-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .medium-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .medium-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .medium-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .medium-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }

  .medium-block-grid-13 > li {
    width: 7.69231%;
    list-style: none; }
    .medium-block-grid-13 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-13 > li:nth-of-type(13n+1) {
      clear: both; }

  .medium-block-grid-14 > li {
    width: 7.14286%;
    list-style: none; }
    .medium-block-grid-14 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-14 > li:nth-of-type(14n+1) {
      clear: both; }

  .medium-block-grid-15 > li {
    width: 6.66667%;
    list-style: none; }
    .medium-block-grid-15 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-15 > li:nth-of-type(15n+1) {
      clear: both; }

  .medium-block-grid-16 > li {
    width: 6.25%;
    list-style: none; }
    .medium-block-grid-16 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-16 > li:nth-of-type(16n+1) {
      clear: both; }
}
@media only screen and (min-width: 64.063em) {
  .large-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .large-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .large-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .large-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .large-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .large-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .large-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .large-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .large-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .large-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .large-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .large-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .large-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }

  .large-block-grid-13 > li {
    width: 7.69231%;
    list-style: none; }
    .large-block-grid-13 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-13 > li:nth-of-type(13n+1) {
      clear: both; }

  .large-block-grid-14 > li {
    width: 7.14286%;
    list-style: none; }
    .large-block-grid-14 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-14 > li:nth-of-type(14n+1) {
      clear: both; }

  .large-block-grid-15 > li {
    width: 6.66667%;
    list-style: none; }
    .large-block-grid-15 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-15 > li:nth-of-type(15n+1) {
      clear: both; }

  .large-block-grid-16 > li {
    width: 6.25%;
    list-style: none; }
    .large-block-grid-16 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-16 > li:nth-of-type(16n+1) {
      clear: both; }
}


.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}
.Header {
  padding: 1.5em;
  background-color: rgba(147, 128, 108, .1);
}
@media (min-width:48em) {
  .Header {
  padding: 3em 1.5em;
}
}.Header-title {
  margin: 0 0 .15em;
  font-size: 1.8em;
  line-height: 1;
  word-spacing: .08em;
  color: #e6e6e6;
}
.Header-title i {
  font-family: serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -.03em;
}
.Header-title a {
  border: 0;
  color: inherit;
  font-weight: inherit;
}
.Header-title a:focus, .Header-title a:hover, .Header-title a:active {
  text-decoration: none;
}
@media (min-width:48em) {
  .Header-title {
  font-size: 4em;
}
}.Header-subTitle {
  margin: 0 0 1.5em;
  font: 300 .8em "proxima-nova", sans-serif;
  white-space: nowrap;
}
@media (min-width:48em) {
  .Header-subTitle {
  margin: 1em 0 1.75em;
  font-size: 1.1em;
}
}.Header-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: .9em;
}
@media (min-width:24em) {
  .Header-actions {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
}@media (min-width:48em) {
  .Header-actions {
  font-size: 1.1em;
}
}.Header-button:first-child {
  margin: 0 0 1em;
}
@media (min-width:24em) {
  .Header-button: first-child {
  margin: 0 1em 0 0;
}
}@media (min-width:48em) {
  .Header--cozy {
  padding: 1.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.Header--cozy, .Header--cozy .Header-titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.Header--cozy .Header-titles {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.Header--cozy .Header-title {
  font-size: 1.5em;
}
.Header--cozy .Header-subTitle {
  margin: 0 0 0 1em;
  font-family: "proxima-nova";
  font-size: .8em;
  font-weight: 300;
  color: gray;
}
.Header--cozy .Header-actions {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: .9em;
}
}.Footer {
  padding: 1.5rem;
  background: #404040;
  color: #999;
  font-size: .85em;
  text-align: center;
}
.Footer a {
  padding-bottom: 1px;
  border: 0;
  color: #e6e6e6;
}
.Footer a:hover, .Footer a:focus, .Footer a:active {
  color: #fff;
  text-decoration: underline;
}
.Footer-credits {
  margin: 0;
  padding: 0;
}
.Footer-credit {
  display: block;
  margin: 0;
}
@media (min-width:36em) {
  .Footer-credit {
  display: inline-block;
  margin: 0 .25em;
}
}.Footer-creditSeparator {
  display: none;
}
@media (min-width:36em) {
  .Footer-creditSeparator {
  display: inline-block;
  padding: 0 .25em;
}
}.Footer-social a, .Footer-social iframe {
  display: inline-block;
  margin: 0 0 1em;
  vertical-align: top;
}
